<footer class="text-muted">
    <div class="container">
        <p class="float-right">
            <a style="border: 1px solid #c0f2ff; border-radius: 10px; background-color: #c0f2ff; padding: 15px 20px; font-weight: bolder;" href="/">Back to Home</a>
        </p>

    </div>
</footer>